
*.cache
.vs/ClothingStore/v16/.suo
.vs/ClothingStore/v16/Server/sqlite3/storage.ide-wal
.vs/ClothingStore/DesignTimeBuild/.dtbcache
ClothingStore/obj/Debug/netcoreapp3.0/ClothingStore.csprojAssemblyReference.cache
