
*.cache
.vs/ClothingStore
.vs/ClothingStore/DesignTimeBuild/.dtbcache
ClothingStore/bin
ClothingStore/obj
*.dll
*.pdb
*.CopyComplete
*.json
*.txt
*.props
*.tmp
*.exe
*.targets
*.xml
Integration.tests/obj/Release/netcoreapp3.0/Integration.tests.AssemblyInfo.cs
Integration.tests/obj/Debug/netcoreapp3.0/Integration.tests.AssemblyInfo.cs
*.user
ClothingStore/Properties/PublishProfiles/CustomProfile.pubxml
ClothingStore/obj/project.assets.json
ClothingStore/obj/project.assets.json
